@import "https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap";
* {
  margin: 0;
  padding: 0;
}
body {
  background: #e5e5e5;
}
.contenedor {
  display: flex;
}
.boton {
  margin: auto;
  font-size: 16px;
  padding: 24px;
  width: 300px;
  color: #0a3871;
  border-radius: 32px;
  border: 1px solid #0a3871;
  background: #ffffff;
  font-family: Inter, sans-serif;
  cursor: pointer;
}
.boton:hover {
  background: rgba(10, 56, 113, 0.4509803922);
}
.boton:active {
  background: #ffffff;
}
footer {
  width: 100%;
  display: flex;
  height: 30px;
}
footer p {
  margin: auto 0 auto 2%;
  font-family: Inter, sans-serif;
  color: #0a3871;
}
footer a {
  width: fit-content;
  height: fit-content;
  margin: auto auto auto 10px;
}
footer a img {
  max-width: 20px;
}
footer a img:hover {
  filter: drop-shadow(0 0 5px #021124);
}
.contenedor .area-respuesta {
  width: 400px;
  height: 87vh;
  border-radius: 32px;
  margin: 20px 20px 20px auto;
  background: white;
  display: flex;
  flex-direction: column;
}
.contenedor .area-respuesta .texto-respuesta {
  width: 87%;
  height: 80%;
  overflow: unset;
  margin: 32px auto 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: #495057;
  font-size: 24px;
  text-align: justify;
  overflow: hidden;
}
.contenedor .area-respuesta .boton {
  font-weight: 400;
  font-size: 16px;
  margin: auto auto 30px;
}
.contenedor .area-respuesta .imagen {
  max-width: 70%;
  margin: auto auto 0;
}
.contenedor .area-respuesta .area-mensajes {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto auto;
}
.contenedor .area-respuesta .area-mensajes .sub-mensaje {
  font-family: Inter, sans-serif;
  font-weight: 700;
  text-align: center;
  color: #343a40;
  margin-bottom: 5px;
}
.contenedor .area-respuesta .area-mensajes .texto {
  font-family: Inter, sans-serif;
  font-weight: 400;
  text-align: center;
  color: #495057;
}
.contenedor .area-entrada {
  width: 65%;
  display: flex;
  flex-direction: column;
  height: 86vh;
}
.contenedor .area-entrada header {
  width: 90%;
  margin: 40px auto;
}
.contenedor .area-entrada .entrada {
  resize: none;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  outline: none;
  border: none;
  font-family: Inter, sans-serif;
  background: none;
  color: #0a3871;
  font-size: 32px;
}
.contenedor .area-entrada .area-advertencia {
  margin: 20px auto 30px 10%;
  display: flex;
  width: fit-content;
}
.contenedor .area-entrada .area-advertencia .text-advertencia {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-left: 10px;
}
.contenedor .area-entrada .area-botones {
  width: 100%;
  display: flex;
}
.contenedor .area-entrada .area-botones .boton {
  margin: auto;
  padding: 24px;
}
.contenedor .area-entrada .area-botones .boton#boton1 {
  background: #0a3871;
  color: #e5e5e5;
}
.contenedor .area-entrada .area-botones .boton#boton1:hover {
  background: #0e478d;
}
.contenedor .area-entrada .area-botones .boton#boton1:active {
  background: #0a3871;
}
@media (max-width: 1040px) {
  .boton {
    width: 220px;
  }
}
@media (max-width: 840px) {
  .boton {
    width: 190px;
  }
  .boton .contenedor .area-respuesta .texto-respuesta {
    width: 9px;
  }
}
@media (max-width: 780px) {
  .boton {
    width: 190px;
  }
  .contenedor {
    flex-direction: column;
  }
  .contenedor .area-entrada {
    width: 95%;
  }
  .contenedor .texto-respuesta {
    margin-bottom: 20px;
  }
  .contenedor .area-respuesta {
    width: 95%;
    height: fit-content;
    min-height: 200px;
    margin: 20px auto;
  }
  .contenedor .area-respuesta .area-mensajes {
    margin: auto;
  }
  .contenedor .area-respuesta .boton {
    margin: 20px auto;
    width: 80%;
  }
  .contenedor .area-respuesta .imagen {
    display: none;
  }
}
@media (max-width: 426px) {
  .contenedor .area-entrada .area-botones {
    flex-direction: column;
  }
  .contenedor .area-entrada .area-botones .boton {
    margin: 5px auto;
    width: 80%;
  }
}
